/* * {
    border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #78CCCB;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-top,
.frame-left,
.frame-right,
.frame-bottom {
    background-color: #ff5e5b;
}

.frame-top,
.frame-bottom {
    width: 900px;
    height: 100px;
}

.frame-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    color: #FFFF66;
    margin: 0;
}

.frame-middle {
    display: flex;
}

.frame-left,
.frame-right {
    width: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #D8D8D8;
    width: 700px;
    height: 500px;
}

.unit {
    border: 1px solid grey;
}

.frame-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
}
